.snakemake
envs
.test/data
logs
log.txt*
samples.tsv
units.tsv
resources/align
test
Log.out
logs_slurm
res/ftp1.babraham.ac.uk
~
results
results/qc/*/*.zip
results/reads/
results/trimmed/*/*.gz
results/mapped
